# Pandas assignment
In this assignment, you will complete some functions what will be used in the transversal assignemnt.
You will implement some key functions in the ETL (Extract, Transform, Load) process used to prepare the data for the assignment.
 
First, you will define a function the data in the CSV file "datasets/Online Retail_2.csv" into a dataframe. The function must load only the columns:
- 'InvoiceNo': An invoice number 
- 'StockCode': The stock code of the product
- 'Description': A description of the product
- 'Quantity': Quantity in invoice
- 'InvoiceDate': Date of invoice 
- 'UnitPrice': Unitary price of product 
- 'CustomerID': Identifier of the customer 
- 'Country': Country of customer

In [7]:
import pandas as pd
import numpy as np
from IPython import display
path_to_csv = 'Online Retail_2.csv'

def read_file():
    """
    Reads the e-commerce dataset in Datasets/Online Retail.csv and loads it into a data frame.

    Args:
        None

    Returns: Pandas dataframe containing data
    """
    # Write your code here

    return pd.read_csv(path_to_csv, usecols=['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'])

ecommerce_data = read_file()
ecommerce_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Next, you will filter out rows that do not correspond to actual invoices, but returns or purchases. To do so, you will build a **query** that keeps only values where the column quantity is greater than zero.

In [8]:
def get_demand(ec):
    """
    Reads the quantity and returns indexes where the value is greater than 0

    Args:
        ec - A Pandas Dataframe containing e-commerce records.

    Returns: a dataframe with the production site identifier
    """
    # Write your code here
    return ec.query('Quantity > 0')

ecommerce_data = get_demand(ecommerce_data)
ecommerce_data.describe()

            Quantity      UnitPrice     CustomerID
count  531285.000000  531285.000000  397924.000000
mean       10.655262       3.857296   15294.315171
std       156.830323      41.810047    1713.169877
min         1.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

Now, we are going to create a product code, just by keeping the first number of the stock code. 
You need to create a new column named 'product_type' with the first character of the column 'StockCode'.
You will then filter any stock code that does not start by a number using the str function **contains**.

In [9]:
def get_product_type(ec):
    """
    Reads the Stock Code and returns the first character of the string.
    This first character is used to identify the product type

    Args:
        ec - A Pandas Dataframe containing e-commerce records.

    Returns: a dataframe with the production site identifier
    """
    # Add a new column labeled 'Product type with the first character of the stock code
    ec['product_type'] = ec['StockCode'].str[0]

    # Filter values that do not start with a digit
    # Write your code here

    # 1st Option, was slower than doing a series.str.contains with regex.
    # return ec[pd.to_numeric(ec.product_type, errors='coerce').notnull()]
    return ec[ec['product_type'].str.contains(r'[0-9]', regex=True)]


ecommerce_data = get_product_type(ecommerce_data)
ecommerce_data.describe()

            Quantity      UnitPrice     CustomerID
count  528886.000000  528886.000000  396370.000000
mean       10.673415       3.258152   15301.602071
std       157.128259       4.375777    1709.982593
min         1.000000       0.000000   12346.000000
25%         1.000000       1.250000   13975.000000
50%         3.000000       2.080000   15159.000000
75%        11.000000       4.130000   16803.000000
max     80995.000000     649.500000   18287.000000

Now that our data is ready, we will answer some questions.
First, add a new column named 'revenue' as the product of the quantity and the unit price.

In [10]:
ecommerce_data["Revenue"] = ecommerce_data["Quantity"] * ecommerce_data["UnitPrice"]
    # Write your code here
ecommerce_data.describe()

            Quantity      UnitPrice     CustomerID        Revenue
count  528886.000000  528886.000000  396370.000000  528886.000000
mean       10.673415       3.258152   15301.602071      19.420129
std       157.128259       4.375777    1709.982593     268.320619
min         1.000000       0.000000   12346.000000       0.000000
25%         1.000000       1.250000   13975.000000       3.750000
50%         3.000000       2.080000   15159.000000       9.900000
75%        11.000000       4.130000   16803.000000      17.400000
max     80995.000000     649.500000   18287.000000  168469.600000

Now, answer the following questions using Pandas. 
What is the product type that generates the highest revenue?
Create a pivot table with index  'Country', column 'product' that shows the accumulated revenue per country and product type

In [11]:
# Write your code here
pd.pivot_table(ecommerce_data,index=["Country"], columns=["product_type"])

                        CustomerID                                            \
product_type                     1             2             3             4
Country
Australia             12423.000000  12454.670370  12428.714286  12411.133333
Austria               12365.000000  12524.698225  12364.000000  12458.375000
Bahrain                        NaN  12354.800000  12353.000000           NaN
Belgium               12388.705882  12429.547344  12408.400000  12385.050000
Brazil                12769.000000  12769.000000           NaN           NaN
Canada                17444.000000  17387.927928  17443.750000  17444.000000
Channel Islands       14442.000000  14889.126761  14931.000000  14935.028571
Cyprus                12400.857143  12393.870229  12513.250000  12539.222222
Czech Republic                 NaN  12781.000000           NaN  12781.000000
Denmark               13063.444444  12513.342767  12420.250000  12417.500000
EIRE                  14744.468468  14737.895216  14822.714286  14788.357143
European Community             NaN  15108.000000           NaN           NaN
Finland               12578.545455  12512.838384  12489.357143  12420.812500
France                12683.738318  12677.930861  12827.666667  12640.647059
Germany               12691.883562  12649.445654  12588.357143  12596.344000
Greece                17508.000000  13551.090164  17508.000000  14193.000000
Hong Kong                      NaN           NaN           NaN           NaN
Iceland               12347.000000  12347.000000           NaN  12347.000000
Israel                12652.800000  12660.276995           NaN  12644.000000
Italy                 12553.166667  12639.331790  12454.833333  12528.937500
Japan                 12754.000000  12758.525952           NaN  12755.833333
Lebanon                        NaN  12764.000000  12764.000000  12764.000000
Lithuania             15332.000000  15332.000000           NaN           NaN
Malta                          NaN  16607.040000  17358.400000           NaN
Netherlands           13707.250000  14456.455855  13709.166667  14026.444444
Norway                12431.625000  12440.621076  12407.000000  12431.875000
Poland                12726.941176  12734.282353  12746.947368  12697.800000
Portugal              12771.300000  12748.066614  12675.750000  12748.045455
RSA                            NaN  12446.000000           NaN  12446.000000
Saudi Arabia                   NaN  12565.000000           NaN           NaN
Singapore                      NaN  12744.000000  12744.000000  12744.000000
Spain                 12532.812500  12941.846039  12789.448980  12728.016949
Sweden                16212.750000  14800.100515  12638.000000  12666.750000
Switzerland           12752.310345  12651.989096  12750.777778  12888.043478
USA                   12607.000000  12628.331210  12670.000000  12649.000000
United Arab Emirates           NaN  14524.964912           NaN  17829.000000
United Kingdom        15450.203723  15556.734168  15366.988402  15555.961001
Unspecified           14442.666667  13850.287179  12743.000000  13123.545455

                                                                              \
product_type                     5             6             7             8
Country
Australia                      NaN           NaN  12410.600000  12482.568966
Austria                        NaN           NaN  12367.000000  12582.260870
Bahrain                        NaN           NaN  12355.000000  12355.000000
Belgium                        NaN           NaN  12452.909091  12465.024000
Brazil                         NaN           NaN           NaN  12769.000000
Canada                         NaN           NaN  15902.000000  17150.285714
Channel Islands                NaN           NaN  14936.000000  14886.242424
Cyprus                12391.000000           NaN  12390.000000  12471.400000
Czech Republic                 NaN           NaN           NaN  12781.000000
Denmark               12412.000000           NaN  12413.666667  12410.766667
EIRE                  14326.500000           NaN  14815.278846  14761.568182
European Community             NaN           NaN  15108.000000  15108.000000
Finland                        NaN           NaN  12525.142857  12526.700000
France                12553.000000  12579.000000  12646.085714  12721.425061
Germany               12566.555556  12544.500000  12565.782609  12661.867424
Greece                         NaN           NaN  14439.000000  15112.500000
Hong Kong                      NaN           NaN           NaN           NaN
Iceland               12347.000000           NaN  12347.000000  12347.000000
Israel                         NaN           NaN           NaN  12644.000000
Italy                 14912.000000           NaN  12675.875000  12596.960784
Japan                          NaN           NaN           NaN  12756.880000
Lebanon                        NaN           NaN           NaN  12764.000000
Lithuania                      NaN           NaN           NaN  15332.000000
Malta                          NaN           NaN  17828.000000  17175.777778
Netherlands                    NaN           NaN  14646.000000  14251.681159
Norway                         NaN           NaN  12417.400000  12444.083333
Poland                         NaN           NaN           NaN  12698.241379
Portugal                       NaN           NaN  12778.100000  12719.830000
RSA                            NaN           NaN           NaN  12446.000000
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN  12744.000000  12744.000000
Spain                 12508.000000  12539.000000  13040.235294  12837.522267
Sweden                15021.000000           NaN  12638.000000  14997.535714
Switzerland                    NaN           NaN  12658.166667  12641.158621
USA                            NaN           NaN  12558.000000  12625.400000
United Arab Emirates           NaN           NaN           NaN  17829.000000
United Kingdom        15691.417303  15408.065934  15652.508958  15533.930117
Unspecified                    NaN           NaN  13935.333333  13075.366667

                                      Quantity  ...    Revenue UnitPrice  \
product_type                     9           1  ...          9         1
Country                                         ...
Australia                      NaN  257.000000  ...        NaN  1.857500
Austria               12865.000000   17.000000  ...  15.000000  4.957500
Bahrain                        NaN         NaN  ...        NaN       NaN
Belgium               12417.000000   24.823529  ...  13.350000  1.341765
Brazil                         NaN    3.000000  ...        NaN  5.950000
Canada                         NaN   17.000000  ...        NaN  1.367778
Channel Islands                NaN   25.000000  ...        NaN  0.420000
Cyprus                         NaN   18.428571  ...        NaN  2.882857
Czech Republic                 NaN         NaN  ...        NaN       NaN
Denmark                        NaN   27.444444  ...        NaN  0.442222
EIRE                  14911.000000   35.321429  ...  15.003968  2.704107
European Community             NaN         NaN  ...        NaN       NaN
Finland               12704.000000    9.454545  ...   5.750000  4.805455
France                12633.777778   24.327103  ...  16.138889  2.778318
Germany               12593.652174   33.602740  ...  32.545652  2.156096
Greece                         NaN   24.000000  ...        NaN  0.140000
Hong Kong                      NaN   28.000000  ...        NaN  0.210000
Iceland                        NaN   30.000000  ...        NaN  0.275000
Israel                12512.000000   21.100000  ...   2.550000  2.553000
Italy                          NaN   11.833333  ...        NaN  2.823333
Japan                          NaN    1.000000  ...        NaN  0.850000
Lebanon                        NaN         NaN  ...        NaN       NaN
Lithuania                      NaN   12.000000  ...        NaN  5.950000
Malta                          NaN         NaN  ...        NaN       NaN
Netherlands           12778.000000   18.500000  ...  30.000000  3.287500
Norway                         NaN   53.708333  ...        NaN  1.388333
Poland                         NaN   13.294118  ...        NaN  2.223529
Portugal              12783.000000   27.200000  ...  17.700000  0.487000
RSA                            NaN         NaN  ...        NaN       NaN
Saudi Arabia                   NaN         NaN  ...        NaN       NaN
Singapore                      NaN         NaN  ...        NaN       NaN
Spain                 12502.000000   15.500000  ...  13.916667  1.966875
Sweden                         NaN  201.500000  ...        NaN  2.562500
Switzerland           12451.000000   24.206897  ...  13.950000  1.630690
USA                            NaN   25.000000  ...        NaN  0.420000
United Arab Emirates           NaN         NaN  ...        NaN       NaN
United Kingdom        15580.979421   24.626008  ...   6.790964  2.315910
Unspecified                    NaN   21.200000  ...        NaN  0.886000

                                                                        \
product_type                 2         3         4         5         6
Country
Australia             2.684676  4.621429  5.801000       NaN       NaN
Austria               2.813432  5.347500  6.968750       NaN       NaN
Bahrain               5.020000  4.783333       NaN       NaN       NaN
Belgium               3.085439  3.029000  4.040500       NaN       NaN
Brazil                4.425000       NaN       NaN       NaN       NaN
Canada                2.443063  3.012500  0.390000       NaN       NaN
Channel Islands       3.951455  1.690000  7.372857       NaN       NaN
Cyprus                5.473969  4.708333  5.316667  0.390000       NaN
Czech Republic        1.642222       NaN  1.185000       NaN       NaN
Denmark               2.707453  1.485000  5.850000  0.390000       NaN
EIRE                  3.427344  2.174930  5.422318  0.682727       NaN
European Community    4.284906       NaN       NaN       NaN       NaN
Finland               2.877434  2.014286  4.208750       NaN       NaN
France                2.638974  2.125000  4.529080  0.620000  1.950000
Germany               2.695787  2.504762  4.560240  0.645556  1.950000
Greece                3.698934  1.516667  6.064286       NaN       NaN
Hong Kong             3.436529  3.750000  1.494286       NaN       NaN
Iceland               2.793265       NaN  2.450000  0.850000       NaN
Israel                3.855175       NaN  2.058333       NaN       NaN
Italy                 3.675540  1.840000  6.136250  0.620000       NaN
Japan                 2.021142       NaN  3.816667       NaN       NaN
Lebanon               5.967353  2.100000  4.650000       NaN       NaN
Lithuania             2.717419       NaN       NaN       NaN       NaN
Malta                 3.804933  5.318000       NaN       NaN       NaN
Netherlands           2.476473  1.225000  3.981111       NaN       NaN
Norway                3.415437  2.210909  2.699375       NaN       NaN
Poland                3.639569  2.998421  1.560000       NaN       NaN
Portugal              2.574702  3.434000  3.946364  3.450000       NaN
RSA                   4.211400       NaN  5.150000       NaN       NaN
Saudi Arabia          2.351111       NaN       NaN       NaN       NaN
Singapore             3.785615  1.490000  5.190000       NaN       NaN
Spain                 3.245042  2.873878  4.930339  0.543333  2.550000
Sweden                2.023995  0.390000  4.900000  0.390000       NaN
Switzerland           2.754817  2.855000  5.458936       NaN       NaN
USA                   2.161529  4.285000  4.733333       NaN       NaN
United Arab Emirates  2.893684       NaN  6.700000       NaN       NaN
United Kingdom        3.300773  2.527637  5.510397  0.772509  1.773465
Unspecified           2.843817  0.815000  2.314000       NaN       NaN


product_type                 7         8         9
Country
Australia             1.226000  2.467414       NaN
Austria               1.120000  3.137826  3.750000
Bahrain               4.140000  1.650000       NaN
Belgium               0.712273  2.739520  5.761111
Brazil                     NaN  0.850000       NaN
Canada                0.935000  2.855714       NaN
Channel Islands       0.850000  2.408636       NaN
Cyprus                2.342500  3.051636       NaN
Czech Republic             NaN  1.585000       NaN
Denmark               1.116667  2.707333       NaN
EIRE                  2.553636  2.848586  3.023810
European Community    4.250000  3.483333       NaN
Finland               3.490000  3.156800  1.000000
France                1.940000  2.563005  3.588889
Germany               2.231304  2.855701  3.567391
Greece                8.490000  1.423750       NaN
Hong Kong             0.920000  3.078077       NaN
Iceland               3.250000  2.065385       NaN
Israel                     NaN  1.893810  2.550000
Italy                 2.450000  4.705490       NaN
Japan                      NaN  1.974000       NaN
Lebanon                    NaN  3.644444       NaN
Lithuania                  NaN  1.650000       NaN
Malta                 2.981818  3.079444       NaN
Netherlands           0.420000  1.856377  1.250000
Norway                3.236000  2.624062       NaN
Poland                     NaN  5.053448       NaN
Portugal              1.671000  2.174623  2.950000
RSA                        NaN  5.643333       NaN
Saudi Arabia               NaN       NaN       NaN
Singapore             1.250000  2.594762       NaN
Spain                 2.138235  2.820445  4.883333
Sweden                1.450000  1.321786       NaN
Switzerland           1.546923  2.889937  1.800000
USA                   0.850000  2.713000       NaN
United Arab Emirates       NaN  1.756250       NaN
United Kingdom        3.019435  2.969230  3.912231
Unspecified           1.095000  2.103333       NaN

[38 rows x 36 columns]